@use './api' as *;

.scroll-bar-grey {
  --scrollbar: var(--color-gray-light);
  --scrollbar-thumb: var(--color-gray-medium);
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: var(--scrollbar);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--scrollbar-thumb);

    cursor: pointer;
  }
}
